.jumbotron {
  text-align: center;
  background-color: #E2CAED;
  margin-top: 20px;
}

body {
  background-color: #54577C;
  font-family: lobster two;
  color: #291528;
}

#wizard-showing {
  display: none;
}

#float {
  float: left;
  margin: 20px;
}

#size {
  font-size: 2em;
}
