.jumbotron {
  text-align: center;
  background-color: #E2CAED;
  margin-top: 20px;
  color: #291528;
}

body {
  background-color: #54577C;
  font-family: lobster two;
  color: #291528;
  color: #82D173;
}

#wizard-showing {
  display: none;
}

#block2-showing {
  display: none;
  margin-top: 100px;
}

#wizard-hidden {
  text-align: center;
}

#float {
  float: left;
  margin: 20px;
}

#size {
  font-size: 2em;
}

#get-name, #questions {
  color: #291528;
}

#change {
  color: #82D173;
}
